header {
    position: fixed;
    z-index: 3;
    right: 0;
    left: 0;
}

.navbar {
    letter-spacing: 2px;
    font-size: 14px;
    color: #afb1d7;
    padding: 40px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.navbar.navbar-collapsed {
    color: #333;
    background-color: transparent;
    padding: 25px 40px;
}

.navbar.navbar-collapsed>.header-name {
    color: black;
}

.header-name {
    color: white;
    font-weight: 300;
    cursor: pointer;
}

.menu {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-item {
    display: inline-block;
    font-weight: 200;
    margin-left: 20px;
    cursor: pointer;
}

.menu-item:hover {
    color: white;
}